<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home</title>
	<style type="text/css">
	body{text-align:center}
	</style>
</head>
<body>
	<h1>Welcome To Equipment Rental System </h1>
	<br>
	<br>
	<a href="category">Add Category</a>
	<br>
	<br>
	<a href="customer">Add Customer</a>
	<br>
	<br>
	<a href="equipment">Add Equipment</a>
	<br>
	<br>
	<a href="rental">Add Rental</a>
	<br>
	<br>
	<a href="view">Get All Rent</a>
	<br>
	<br>
	<a href="viewById">Get Equipment By id</a>
	<br>
	<br>


</body>
</html>